*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.purple-background{
  background-color: blueviolet;
}

.debug-header{
  height: 75px;
  justify-content: space-between;
  align-items: center;
}

header{
  height: 75px;
  background-color: blue;
  position: fixed;
  width: 100%;
}

.container{
  width: 80%;
  margin: 0 auto;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 100px;
  height: 55px;
  background-color: green;
}

.menu-2{
  width: 500px;
  display: none;
}

.jumbotron{
  padding-top: 125px;
  padding-bottom: 50px;
}

.demo-col{
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  background-color: yellow;
}

main{
  background-color: gray;
}

.strategic-container{
  padding-top: 35px;
  margin-bottom: 70px;
}

.strategic-col{
  width: 100%;
  height: 500px;
  background-color: aqua;
  margin-top: 35px;
}

.testimonials-container{
  background-color: yellowgreen;
  padding-top: 65px;
  margin-bottom: 110px;
}

.testimonials-title{
  width: 100%;
  height: 300px;
  background-color: chocolate;
}

.testimonials-col{
  width: 100%;
  background-color: blueviolet;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials-img{
  height: 150px;
  aspect-ratio: 1;
  margin: 20px 0;
  background-color: yellow;
}

.testimonials-text{
  width: 100%;
  height: 250px;
  background-color: green;
}

.benefits-conatainer{
  justify-content: center;
}

.benefits-title{
  width: 100%;
  height: 40px;
  background-color: aqua;
  margin: 65px 0;
}

.benefits-row{
  width: 100%;
  display: flex;
  justify-content: center;
}

.benefits-card{
  width: 100%;
  max-width: 300px;
  height: 400px;
  background-color: aquamarine;
  margin-bottom: 30px;
}

.about-us-container{
  padding-top: 75px;
  margin-bottom: 75px;
}

.about-us-text{
  width: 100%;
  height: 700px;
  background-color: yellow;
  margin-bottom: 40px;
}

.about-us-img{
  width: 100%;
  height: 400px;
  background-color: orange;
}

.get-started-container{
  padding-top: 75px;
  padding-bottom: 75px;
}

.get-started-text{
  width: 100%;
  background-color: yellow;
  height: 600px;
}

footer{
  background-color: black;
}

.footer-text{
  padding-top: 40px;
  width: 100%;
  height: 400px;
  background-color: aqua;
}

@media screen and (min-width:768px){
  .demo-col.demo-big-col{
    width: 66%;
    margin-right: 2%;
  }
  
  .demo-col{
    width: 32%;
  }

  .demo-central-col{
    margin: 0 2%;
  }

  .testimonials-col{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .testimonials-img{
    margin: 20px;
  }

  .testimonials-text{
    width: 100%;
  }

  .benefits-conatainer{
    justify-content: space-between;
  }

  .benefits-row{
    width: 50%;
  }

  .about-us-text{
    width: 60%;
    margin: 0;
  }

  .about-us-img{
    width: 40%;
  }
}

@media screen and (min-width:1200px){
  .container{
    width: 60%;
  }
  .menu-1{
    display: none;
  }

  .menu-2{
    display: block;
  }

  .strategic-container{
    padding-bottom: 35px;
  }

  .strategic-container{
    width: 50%;
  }

  .strategic-col{
    width: 45%;
    margin: 35px 2.5%;
  }

  .strategic-col-second{
    height: 300px;
    align-self: flex-end;
  }

  .testimonials-text{
    margin-left: 40px;
  }

  .benefits-card{
    max-width: 360px;
  }

  .benefits-row{
    width: 33%;
  }
  
  .about-us-text{
    width: 70%;
  }

  .about-us-img{
    width: 30%;
  }
}