*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-blue: #0084FD;
  --light-blue: #B5DDFF;
  --text-gray: #5A6E7F;
  --main-purple: #9792E4;
  --text-orange: #FDC15F;
  --footer-black: #333333;
}

body{
  font-family: 'PT Sans', sans-serif;
  color: white;
}

img{
  max-width: 100%;
}

.f-ico{
  font-size: 5rem;
}

.f-max{
  font-size: 4.25rem;
}

.f-main{
  font-size: 3.25rem;
}

.f-mid{
  font-size: 2rem;
}

.f-min{
  font-size: 1.5rem;
}

.f-min-one{
  font-size: 1.25rem;
}

.f-min-two{
  font-size: 1rem;
}

.f-min-three{
  font-size: 0.875rem;
}

.f-min-four{
  font-size: 0.75rem;
}

.f-italic{
  font-style: italic;
}

.f-bold{
  font-weight: bold;
}

.f-norm{
  font-weight: 400;
}

.purple-background{
  background-color: var(--main-purple);
}

.d-flex{
  display: flex;
}

.al-center{
  align-items: center;
}

.just-center{
  justify-content: center;
}

.flex-column{
  flex-direction: column;
}

.text-center{
  text-align: center;
}

.button{
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 6px 14px;
  border-radius: 25px;
  display: inline;
}

.b-button{
  color: white;
  background-color: var(--main-blue);
  padding: 12px 50px;
  word-spacing: 100%;
  letter-spacing: 2px;
}

.p-button{
  background-color: var(--main-purple);
}

.w-button{
  background-color: white;
  color: var(--main-purple);
  padding: 20px 80px;
  border-radius: 35px;
  letter-spacing: 3px;
}

.debug-header{
  height: 75px;
  justify-content: space-between;
  align-items: center;
}

header{
  height: 75px;
  background-color: var(--main-blue);
  position: fixed;
  width: 100%;
}

.container{
  width: 84%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.menu{
  color: white;
}

.menu-list{
  list-style: none;
}

.list-item{
  color: white;
  text-decoration: none;
}

.li-margin{
  margin-left: 40px;
}

.menu-1{
  display: flex;
}

.menu-2{
  display: none;
}

.jumbotron{
  padding-top: 125px;
  padding-bottom: 50px;
}

.demo-col{
  width: 100%;
  margin-bottom: 25px;
  background-color: var(--light-blue);
  padding: 24px 24px 0 24px;
  border-radius: 25px;
}

.demo-col h2{
  color: var(--main-blue);
  padding-bottom: 30px;
}

.demo-col p{
  color: var(--text-gray);
  line-height: 30px;
  padding-bottom: 30px;
}

.demo-col i{
  color: var(--main-blue);
  padding-bottom: 24px;
  padding-top: 10px;
}

.demo-big-col img{
  width: 100%;
  max-width: 267px;
  padding-top: 40px;
  margin-bottom: -4px;
}

.strategic-container{
  padding-top: 35px;
  padding-bottom: 75px;
}

.strategic-col{
  width: 100%;
  margin-top: 35px;
}

.strategic-col-second{
  background-color: white;
  border-radius: 50px;
  color: black;
  text-align: center;
}

.strategic-col-second img{
  padding-top: 30px;
}

.strategic-col-second p{
  padding: 0 20px 24px 20px;
}

.strategic-col-second i{
  background-color: var(--main-purple);
  border-radius: 50%;
  padding: 15px 18px;
  margin-bottom: 30px;
  color: white;
}

.strategic-col img{
  width: 100%;
  padding-bottom: 76px;
}

.strategic-col h2{
  padding-bottom: 40px;
}

.strategic-col p{
  line-height: 30px;
}

.testimonials-container{
  padding-top: 65px;
  padding-bottom: 110px;
}

.testimonials-title{
  width: 100%;
}

.testimonials-title h2{
  color: var(--main-purple);
}

.testimonials-title p{
  padding: 30px 0;
  line-height: 30px;
}

.testimonials-col{
  width: 100%;
  background-color: var(--main-purple);
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50px;
}

.testimonials-img{
  width: 200px;
  aspect-ratio: 1;
  margin: 30px 0;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.testimonials-one{
  background-image: url(../img/testimonial1.jpg);
}

.testimonials-two{
  background-image: url(../img/testimonial2.jpg);
}

.testimonials-three{
  background-image: url(../img/testimonial3.jpg);
}

.testimonials-text{
  width: 100%;
  text-align: center;
}

.testimonials-text .description{
  line-height: 35px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.testimonials-text .name{
  padding-bottom: 30px;
  letter-spacing: 3px;
}

.benefits-conatainer{
  justify-content: center;
}

.benefits-title{
  width: 100%;
  margin: 65px 0;
}

.benefits-row{
  width: 100%;
  display: flex;
  justify-content: center;
}

.benefits-card{
  width: 100%;
  max-width: 300px;
  background-color: white;
  margin-bottom: 30px;
  color: var(--text-gray);
  border-radius: 25px;
}

.benefits-card .f-main{
  padding: 40px 30px;
  color: var(--main-purple);
}

.benefits-card h3{
  color: var(--main-purple);
  padding: 0 30px;
}

.benefits-card p{
  padding: 40px 30px;
}

.benefits-card .pur-button{
  margin: 0 0 45px 30px;
}

.about-us-container{
  padding-top: 75px;
  margin-bottom: 75px;
}

.about-us-text{
  width: 100%;
  margin-bottom: 40px;
}

.about-us-text h2{
  color: var(--main-purple);
  padding-bottom: 40px;
}

.about-us-text p{
  color: black;
  line-height: 40px;
}

.about-us-img{
  width: 100%;
}

.about-us-img p{
color: var(--main-purple);
}

.about-us-img .pur-button{
  margin: 30px 0;
}

.about-us-img .pur-button .button{
  color: white;
}

.about-us-img .img{
  width:50%;
  aspect-ratio: 1;
  background-size: cover;
  background-image: url(../img/about.jpg);
  border-radius: 50%;
  color:var(--main-purple);
  font-size: 8rem;
  text-align: end;
  line-height: 6rem;
}

.get-started-container{
  padding-top: 75px;
  padding-bottom: 75px;
}

.get-started-text{
  width: 100%;
}

.get-started-text h3{
  padding-bottom: 20px;
  color: var(--text-gray);
}

.get-started-text h2{
  padding-bottom: 30px;
}

.get-started-text h1{
  color: var(--text-orange);
  padding-bottom: 40px;
}

.get-started-text p{
  padding-bottom: 65px;
  max-width: 430px;
  margin: 0 auto;
}

.get-started-text ul{
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.get-started-text ul li{
  padding: 0 2px;
  list-style: none;
}

.get-started-text ul li a{
  color: white;
}

footer{
  background-color: var(--footer-black);
}

.footer-text{
  padding: 40px 0;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.footer-text div{
  padding-top: 60px;
  max-width: 340px;
  margin: 0 auto;
}

.footer-text div a{
  color: var(--main-purple);
}

@media screen and (min-width:768px){
  .container{
    width: 92%;
  }

  .demo-col.demo-big-col{
    width: 66%;
    margin-right: 2%;
  }
  
  .demo-col{
    width: 32%;
  }

  .demo-central-col{
    margin-left: 2%;
    margin-right: 2%;
  }

  .strategic-col .f-mid{
    font-size: 4.25rem;
  }

  .testimonials-col{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .testimonials-img{
    margin: 20px;
  }

  .testimonials-text{
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .testimonials-title .f-mid{
    font-size: 2.5rem;
  }

  .testimonials-text .name{
    padding: 0 20px
  }

  .benefits-conatainer{
    justify-content: space-between;
  }

  .benefits-title .f-mid{
    font-size: 2.75rem;
  }

  .benefits-row{
    width: 50%;
  }

  .benefits-card .f-main{
    font-size: 4.25rem;
  }

  .about-us-text{
    width: 60%;
    padding-right: 50px;
    margin: 0;
  }

  .about-us-text .f-main{
    font-size: 4.25rem;
  }

  .about-us-img{
    width: 40%;
  }

  .about-us-img .img{
    width: 100%;
  }

  .get-started-text .f-mid{
    font-size: 3rem;
  }

  .get-started-text .f-main{
    font-size: 4.35rem;
  }

}

@media screen and (min-width:1200px){
  .container{
    width: 70%;
    max-width: 1140px;
  }
  .menu-1{
    display: none;
  }

  .menu-2{
    display: flex;
  }

  .demo-big-col{
    display: flex;
  }

  .demo-big-col .demo-content{
    width: 60%;
  }

  .demo-big-col img{
    margin-bottom: 0;
  }

  .strategic-container{
    padding-bottom: 35px;
    width: 50%;
    justify-content: space-around;
  }

  .strategic-col{
    width: 45%;
    margin: 35px 0;
  }

  .strategic-col .f-mid{
    font-size: 2rem;
  }

  .strategic-col-second{
    width: 38%;
    align-self: flex-end;
  }

  .strategic-col-second img{
    width: 50%;
    padding-bottom: 20px;
  }

  .testimonials-text{
    margin-left: 40px;
    text-align: start;
  }

  .testimonials-title .f-mid{
    font-size: 3rem;
  }

  .benefits-card{
    max-width: 360px;
  }

  .benefits-row{
    width: 33%;
  }
  
  .about-us-text{
    width: 70%;
    padding-right: 150px;
  }

  .about-us-img{
    width: 30%;
    padding-right: 100px;
  }
}